// Reset
@use '../abstracts' as *;

/* Box sizing rules, transitions */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all $tr;
}

/* To not interrupt (font-awesome like) i tags */
i::before,
i::after {
  transition: initial;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  // text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

/* Removes default styles for links */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
