// Mixins
@use './variables' as *;

@mixin flex($dir: column, $jus: center, $alg: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $alg;
}
@mixin media($size) {
  @media (max-width: #{$size}px) {
    @content;
  }
}
