@use '../abstracts' as *;
@use '../core' as *;
// Report

.report {
  width: var(--card-width);
  margin-right: $spacing;
  isolation: isolate;
  @include media($break-2) {
    width: calc(var(--card-width) * 2 + calc($grid-gap-row / 2));
    margin: {
      right: 0;
      bottom: $spacing;
    }
  }
  @include media($break-3) {
    width: calc(var(--card-width));
  }
  &-profile {
    height: calc($card-img-height + var(--card-height) + $grid-gap-row);
    position: relative;
    padding: $spacing-sml;
    background: $report;
    border-radius: $radius;
    @include media($break-2) {
      @include flex(row, initial); //? from here
      height: var(--card-height);
    }
    .pic {
      margin-bottom: $spacing-sml;
      @include media($break-2) {
        margin : {
          right: $spacing;
          bottom: 0;
        }
      }
      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 2px solid $white;
      }
    }
    .desc {
      .name {
      }
    }
    .options {
      width: 100%;
      height: var(--card-height);
      border-radius: 0 0 $radius $radius;
      background: $dark-blue;
      position: absolute;
      bottom: calc(var(--card-height) * -1 + $radius); //! Fix
      left: 0;
      z-index: -1;
      //? Javascript
      transform: translateY(-75%);
      opacity: 0;

      .option {
        cursor: pointer;
        height: 25%;
        &:first-child {
          margin-top: $spacing;
        }
        padding: 0.6rem 1.5rem;
        //! hovers over wrapper! => z-index = -1
        &.active {
          color: $pale-blue;
        }
        &:hover {
          color: $pale-blue;
        }
      }
    }
  }
}
