@use '../abstracts' as *;
@use '../core' as *;
// Stats

.stats {
  display: grid;
  grid-template-rows: repeat(var(--row-num), var(--card-height));
  grid-template-columns: repeat(var(--col-num), var(--card-width));
  grid-gap: $grid__gap__row $spacing;
  margin-top: $card__img__height - $radius;
  @include media($br-2) {
    margin-top: $lrg__spacing + $grid__gap__row;
  }

  .card {
    background: $dark__blue;
    border-radius: $radius;
    position: relative;
    cursor: pointer;
    padding: 1rem 1.2rem;
    @include media($br-1) {
      padding: 0.5rem 1.2rem;
    }
    &:hover {
      background: lighten($dark__blue, 7.5%);
    }
    @each $card__type, $card__color in $card__types {
      &-#{$card__type} {
        .card-image {
          background-color: $card__color;
          background-blend-mode: darken;
          .img {
            background: {
              image: url('/images/icon-#{$card__type}.svg');
              size: contain;
              position: center;
              repeat: no-repeat;
            }
          }
        }
      }
    }
    &-image {
      width: 100%;
      height: $card__img__height;
      border-radius: $radius $radius 0 0;
      padding: 0 0.5rem;
      position: absolute;
      top: -$card__img__height + $radius;
      right: 0;
      z-index: -1;

      //? Javascript
      transform: translateY(50%);
      opacity: 0;

      .img {
        $dim: 48px;
        width: $dim;
        height: $dim;
        margin-left: auto;
      }
    }
    &-header {
      @include flex-row(space-between);
      .more-icon {
        width: 1.3rem;
        height: 0.3rem;
      }
    }
    &-timeframes {
      margin-top: $sml__spacing;
    }
  }
}
