// Link all the layout/files
@use 'abstracts' as *;
@use 'core' as *;
@use './layout/report';
@use './layout/stats';
body {
  background: $black;
  .wrapper {
    width: 100%;
    // height: 0; //! To fix can not hover over options cuz of z-indexing
    @include flex(row, center, initial);
    padding: ($spacing-lrg * 2) $spacing;
    @include media($break-2) {
      @include flex;
      padding: $spacing;
      // margin-top: 90%;
    }
    @include media($break-3) {
      // margin-top: 240%;
    }
  }
}
:root {
  @include media($break-1) {
    --card-width: 10rem;
    --card-height: 8rem;
  }
  @include media($break-2) {
    --row-num: 3;
    --col-num: 2;
    --card-width: 12rem;
    --card-height: 9rem;
  }
  @include media($break-3) {
    --row-num: 6;
    --col-num: 1;
    --card-width: 20rem;
  }
}
